<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>154186276108-hm97smsu6lfesm26o6d9tvsal81kjui5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.154186276108-hm97smsu6lfesm26o6d9tvsal81kjui5</string>
	<key>API_KEY</key>
	<string>AIzaSyBr7rx-v8qjbPfxtrZ6dJ4ENqSQrW3Gusk</string>
	<key>GCM_SENDER_ID</key>
	<string>154186276108</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cristiancarvajal.restaurants</string>
	<key>PROJECT_ID</key>
	<string>restaurants-421a1</string>
	<key>STORAGE_BUCKET</key>
	<string>restaurants-421a1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:154186276108:ios:f2d2877879f13e7d0a7d29</string>
</dict>
</plist>